<!DOCTYPE html>
<html>
<head>
  <title>register Page</title>
</head>
<body>

  <form method="post" action="/register">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="email">email:</label>
    <input type="text" id="email" name="email" required><br>
    <label for="phone">phone:</label>
    <input type="text" id="phone" name="phone" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <label for="password2">Password Confirm:</label>
    <input type="password2" id="password2" name="password2" required><br>

    <button type="submit">Login</button>
  </form>
</body>
</html>
