<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
</head>

<body class="page-top">
    <%- include('../partials/header'); -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- 404 Error Text -->
            <div class="text-dark">
                <h4>Data Client</h4>
            </div>
            <table class="table table-bordered text-center">
                <tr>
                    <th>No</th>
                    <th>Name Client</th>
                    <th>Username</th>
                    <th>Email</th> 
                    <th>Role</th>
                    <th>Name Mentor</th>
                    <th>consultation</th>
                    <th>Paket</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Syahrul</td>
                    <td>Syahrulramadhan</td>
                    <td>syahrul@gmail.com</td>
                    <td>User</td>
                    <td>Eggi</td>
                    <td>Tesis</td>
                    <td>Paket 1</td>
                    <td class="text-center">
                        <a href="/detail"><i class="fas fa-user"></i></a> |
                        <a href="/delete"><i class="fas fa-trash"></i></a> |
                        <a href="/update_client"><i class="fas fa-pen"></i></a>
                    </td>
                </tr>
            </table>
        </div>
        </div>

        <%- include('../partials/footer'); -%>
</body>

</html>