<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
</head>

<body class="page-top">
    <%- include('../partials/header'); -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- 404 Error Text -->
            <div class="text-dark">
                <h4>Info Data Mentor</h4>
            </div>
            <p class="text-center"><a href="/mentor" class="btn btn-primary"> <-- Back</a></p>
                <table class="table text-left">
                    <tr>
                        <th>Name</th>
                        <th>Mentor</th>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <th>Mentor 1</th>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <th>mentor@gmail.com</th>
                    </tr>
                    <tr>
                        <th>No Telepon</th>
                        <th>087667655445</th>
                    </tr>
                    <tr>
                        <th width="20">Role</th>
                        <th>Mentor</th>
                    </tr>
                </table>
        </div>
        </div>

        <%- include('../partials/footer'); -%>
</body>

</html>