<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
</head>

<body class="page-top">
    <%- include('../partials/header'); -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- 404 Error Text -->
            <div class="text-dark">
                <h4>Data mentor</h4>
            </div>
        </div>
        </div>

        <%- include('../partials/footer'); -%>
</body>

</html>