<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
</head>

<body class="page-top">
    <%- include('../partials/header'); -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- 404 Error Text -->
            <div class="text-dark">
                <h4>Data Mentor</h4>
            </div>
            <p class="text-center"><a href="/add_mentor" class="btn btn-primary"> + Add Data</a></p>
            <table class="table table-bordered text-center">
                <tr>
                    <th>No</th>
                    <th>Name Mentor</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>No Telepon</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>mentor</td>
                    <td>mentor1</td>
                    <td>mentor@gmail.com</td>
                    <td>087667655445</td>
                    <td>Mentor</td>
                    <td class="text-center">
                        <a href="/mentor_detail"><i class="fas fa-user"></i></a> |
                        <a href="/delete_mentor"><i class="fas fa-trash"></i></a> |
                        <a href="/update_mentor"><i class="fas fa-pen"></i></a>
                    </td>
                </tr>
            </table>
        </div>
        </div>

        <%- include('../partials/footer'); -%>
</body>

</html>