<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
</head>

<body class="page-top">
    <%- include('../partials/header'); -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- 404 Error Text -->
            <div class="text-dark">
                <h4 style="margin-bottom: 20px;">Data Transaksi</h4>
            </div>
            <table class="table table-bordered text-center">
                <tr>
                    <th>No</th>
                    <th>Name User</th>
                    <th>Paket</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Email</th>
                    <th>No Telepon</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>EGGI</td>
                    <td>Paket 1</td>
                    <td>1.000.000</td>
                    <td>50%</td>
                    <td>egi@gmail.com</td>
                    <td>087667655449</td>
                    <td class="text-center">
                        Payment
                    </td>
                </tr>
            </table>
        </div>
        </div>

        <%- include('../partials/footer'); -%>
</body>

</html>